@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html {
  @apply selection:!bg-primary/35
} 

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

li > a:hover:not(.tab) {
  @apply !bg-link-hover
}

.tab-active::after {
  @apply content-[""] flex items-center mt-8 w-8 h-[4px] rounded-sm bg-primary absolute transition-opacity duration-300 ease-in-out
}

.tabs-lifted>.tab-active::after {
  opacity: 0;
}

:root {
  --tab-border-color: oklch(var(--bc))
}

@layer utilities {
  .checkbox-primary {
    --chkfg: var(--your-custom-color, #ffffff);
    /* Replace with the desired color or variable */
  }
    [type="checkbox"]:not(:checked){
      background-color: #e5e7eb !important;
    }
}

.btn-ghost:hover {
  @apply bg-primary/20
}

/* Styling for color picker box */
.rcp-body{
  @apply bg-white
}

.rcp-field-input{
  @apply !border !border-gray-200 !text-base-content
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: oklch(var(--bc)) !important;
}
input:not(.toggle-primary), select, textarea {
  @apply border !border-gray-200
}

[type="checkbox"]:not(:checked) {
  background-color: transparent !important;
  border-color: transparent !important;
}

.toggle-primary{
  @apply !text-purple-100 bg-transparent
}

.tooltip::before {
  @apply shadow-md border border-gray-200 normal-case text-xs font-normal
}

.modal-box{
  @apply !rounded-lg
}

.btn {
  @apply !font-bold
}
/* globals.css */

.scrollbar-custom {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: #888 #f1f1f1;
  /* Thumb and track colors for Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
  /* Horizontal scrollbar height */
  width: 8px;
  /* Vertical scrollbar width */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar thumb color */
  border-radius: 4px;
  /* Rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Thumb color when hovered */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Scrollbar track color */
}

.noflex-list li {
  display: list-item !important;
}