@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
}

html {
  @apply selection:!bg-primary/35
} 

html,
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

li > a:hover:not(.tab) {
  @apply !bg-link-hover
}

.tab-active::after {
  @apply content-[""] flex items-center -mt-16 w-14 h-[5px] rounded-sm bg-base-content absolute transition-opacity duration-300 ease-in-out
}

.tabs-lifted>.tab-active::after {
  opacity: 0;
}

:root {
  --tab-border-color: oklch(var(--n))
}

.btn-ghost:hover {
  @apply bg-primary/20
}

/* Styling for color picker box */
.rcp-body{
  @apply bg-white
}

.rcp-field-input{
  @apply !border !border-gray-300 !text-base-content
}